<!DOCTYPE html>
<html>
  <head>
    <title>Segunda via Boleto</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!--===============================================================================================-->
  </head>

  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" method="POST" action="/">
            <span class="login100-form-logo-empresa">
              <div class="circle">
                <img src="./images/logoempresa.png" />
              </div>
            </span>

            <span class="login100-form-title p-b-34 p-t-27">
              Anuidade 2021
            </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Digite aqui o CPF ou CNPJ"
            >
              <input
                class="input100"
                type="text"
                id="cpfcnpj"
                name="cpfcnpj"
                placeholder="Digite aqui o CPF ou CNPJ"
                required
              />
              <span class="focus-input100" data-placeholder="&#xf150;"></span>
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Digite aqui a inscrição"
            >
              <input
                class="input100"
                id="numeroregistro"
                name="numeroregistro"
                placeholder="<%= INPUT_INSCRICAO_PLACEHOLDER %>"
                required
              />
              <span class="focus-input100" data-placeholder="&#xf106;"></span>
            </div>
            <input type="hidden" name="token" id="token" />
            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Ver opções para pagamento
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=<%= V3_PUBLIC %>"></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        "use strict";
        window.addEventListener(
          "load",
          function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener(
                "submit",
                function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();

      function showResult(text) {
        document.querySelector("#result").innerHTML = text;
      }

      function handleClick(token) {
        return function() {
          var hello = document.querySelector("#hello").value;
          var data = {
            hello: hello,
            token: token
          };

          fetch("/", {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json"
            },
            method: "post",
            body: JSON.stringify(data)
          })
            .then(response => response.text())
            .then(text => showResult(text))
            .catch(error => showResult(error));
        };
      }
      var forms = document.getElementsByClassName("needs-validation");

      grecaptcha.ready(function() {
        grecaptcha
          .execute("<%= V3_PUBLIC %>", {
            action: "boleto"
          })
          .then(function(token) {
            var element = document.getElementById("token");
            element.value = token;
          });
      });
    </script>
  </body>
</html>
